Repository magento/magento2-functional-testing-framework, pull requests merged in 2019-10, with the labels that each got.

#473 MFTF linting cleanup
  docs/best-practices.md
  docs/credentials.md
  docs/data.md
  docs/debugging.md
  docs/extending.md
  docs/getting-started.md
  docs/img/catalogCategoryRepository-operations.png
  docs/img/issue.png
  docs/img/mftf-fork.gif
  docs/img/pull-request.png
  docs/img/switching-the-base.png
  docs/img/trouble-chrome232.png
  docs/introduction.md
  docs/merging.md
  docs/metadata.md
  docs/mftf-tests.md
  docs/page.md
  docs/reporting.md
  docs/section.md
  docs/selectors.md
  docs/suite.md
  docs/test.md
  docs/update.md
  docs/versioning.md
Labels: DOC

#475 MQE-1706: Create training plan for core engineers and community
  docs/guides/selectors.md
  docs/guides/test-isolation.md
  docs/guides/test-modularity.md
  docs/guides/using-suites.md
Labels: DOC

#348 executeInSelenium generation fix #2
  dev/tests/verification/Resources/ExecuteInSeleniumTest.txt
  dev/tests/verification/TestModule/Test/ExecuteInSeleniumTest.xml
  src/Magento/FunctionalTestingFramework/Util/TestGenerator.php
Labels: acknowledged

#465 Fix reference to action groups
  docs/merge_points/extend-data.md
Labels: DOC

#477 Grammatical and formatting fixes
  docs/suite.md
Labels: DOC

#482 fixed static checks command name
  docs/commands/mftf.md
Labels: DOC, acknowledged

#481 Add details for changing settings via command line
  docs/getting-started.md
Labels: DOC

#453 Fixed example test cases to point to actual tests
  docs/commands/mftf.md
Labels: DOC, acknowledged

#466 Fix reference to data objects
  docs/merge_points/extend-tests.md
Labels: DOC

#467 Fix invalid line break tags
  docs/commands/mftf.md
Labels: DOC

#343 Allow the webdriver to directly call upon the 'bin/magento' executable
  src/Magento/FunctionalTestingFramework/Module/MagentoWebDriver.php
Labels: acknowledged

#488 [Documentation] MQE-1796: Magento Git vs Composer and MFTF
  docs/guides/git-vs-composer-install.md
Labels: DOC

#496 Add webserver configuration to docs
  docs/getting-started.md
Labels: DOC, accept, community-contribution
