Repository magento/magento2-functional-testing-framework, pull requests merged in 2019-04, with the labels that each got.

#328 Fixed misspelling.
  docs/commands/codeception.md
Labels: DOC

#327 Fixed broken link and abstracted the others.
  docs/data.md
Labels: DOC

#333 Added Nginx specific settings to getting started doc
  docs/getting-started.md
Labels: Partner: Atwix, acknowledged, partners-contribution

#332 executeInSelenium action does not generate proper code
  dev/tests/verification/Resources/ExecuteInSeleniumTest.txt
  dev/tests/verification/TestModule/Test/ExecuteInSeleniumTest.xml
  dev/tests/verification/Tests/ExecuteInSeleniumTest.php
  src/Magento/FunctionalTestingFramework/Test/Objects/ActionObject.php
Labels: accept, acknowledged, needs update

#338 Return exit codes of process started by 'run:test', 'run:group' or 'run:failed' command
  src/Magento/FunctionalTestingFramework/Console/RunTestCommand.php
  src/Magento/FunctionalTestingFramework/Console/RunTestFailedCommand.php
  src/Magento/FunctionalTestingFramework/Console/RunTestGroupCommand.php
Labels: acknowledged

#341 MQE-810: Create a static test to validate references between modules
  docs/commands/mftf.md
Labels: DOC

#335 Adding 2 tips to Tips and Tricks.
  docs/tips-tricks.md
Labels: DOC
