Repository magento/magento2-functional-testing-framework, pull requests merged in 2020-04, with the labels that each got.

#567 #544 Log Request sent even if Response failed
  src/Magento/FunctionalTestingFramework/DataGenerator/Persist/CurlHandler.php
Labels: Partner: Mediotype, partners-contribution

#638 Adding the Selenium server download in the example
  docs/getting-started.md
Labels: Award: devdocs update, DOC, Partner: Le Site, partners-contribution

#639 Getting started > Removing code snippet
  docs/getting-started.md
Labels: Award: devdocs update, DOC, Partner: Le Site, partners-contribution

#667 DevDocs: Update documentation regarding Test object.
  docs/test.md
Labels: Partner: Mediotype, partners-contribution

#687 MQE-2097: CHANGELOG.MD and Composer version bump
  CHANGELOG.md
  docs/commands/mftf.md
Labels: DOC
