Repository magento/magento2-functional-testing-framework, pull requests merged in 2020-07, with the labels that each got.

#761 MQE-2216: Annual Docs Review Part 3
  docs/commands/codeception.md
  docs/commands/mftf.md
  docs/merging.md
  docs/metadata.md
  docs/page.md
  docs/reporting.md
Labels: DOC

#764 MQE-2218: Part 5 Docs Annual Review
  docs/best-practices.md
Labels: DOC

#763 MQE-2217: Part 4 Docs Annual Review
  docs/test/actions.md
  docs/test/annotations.md
  docs/versioning.md
Labels: DOC

#767 MQE-2219: Part 6 Docs Annual Review
  docs/section.md
  docs/section/locator-functions.md
  docs/suite.md
  docs/update.md
Labels: DOC

#693 Data entity document improvement
  docs/data.md
Labels: DOC, Partner: Ziffity, partners-contribution

#766 Adding raw tag to topic to prevent build errors
  docs/configure-2fa.md
Labels: DOC

#768 MQE-2223: Part 7 Docs Review "MFTF Ease Of Use" PR #483
  docs/guides/cicd.md
Labels: DOC

#750 Outlining the difference between Allure severity levels
  docs/test/annotations.md
Labels: DOC, Technology Partner: dotdigital, tech-partners-contribution

#745 Removed invalid sample test name
  docs/commands/mftf.md
Labels: DOC, Partner: Ziffity, partners-contribution

#678 Command added to modifiy the web server rewrites configurtion
  docs/getting-started.md
Labels: DOC, Partner: Ziffity, partners-contribution

#691 Branch name changed
  docs/getting-started.md
Labels: DOC, Partner: Ziffity, partners-contribution

#683 Renamed sample test name with the correct one
  docs/getting-started.md
Labels: DOC, Partner: Ziffity, partners-contribution

#776 Add v2 folder to gitignore for versioned docs.
  .gitignore
Labels: DOC
