Repository magento/magento2-functional-testing-framework, pull requests merged in 2020-01, with the labels that each got.

#531 Updates include path to data file
  docs/mftf-tests.md
Labels: DOC

#534 Fixes a couple 404 links
  docs/tips-tricks.md
Labels: DOC

#532 Added clarity in selector paths
  docs/guides/selectors.md
Labels: Partner: Zilker Technology, partners-contribution

#537 Refactor of TestGenerator class
  src/Magento/FunctionalTestingFramework/Util/TestGenerator.php
Labels: Partner: Strix, accept, partners-contribution

#538 FEATURE: <magentoCron> command to execute Cron Jobs
  dev/tests/verification/Resources/BasicFunctionalTest.txt
  dev/tests/verification/TestModule/Test/BasicFunctionalTest.xml
  docs/test/actions.md
  etc/di.xml
  src/Magento/FunctionalTestingFramework/Module/MagentoWebDriver.php
  src/Magento/FunctionalTestingFramework/Test/etc/Actions/customActions.xsd
  src/Magento/FunctionalTestingFramework/Util/TestGenerator.php
Labels: Partner: Strix, partners-contribution

#548 #501 Update MFTF documentation and Best Practices
  docs/best-practices.md
  docs/test/action-groups.md
Labels: DOC, Partner: Mediotype, partners-contribution

#559 updated Contribution Guidelines link
  README.md
Labels: DOC

#557 Small doc fixes
  docs/guides/selectors.md
  docs/mftf-tests.md
Labels: DOC
